# Build
**/build/
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake
*.o
*.o.d
a.out

# IDE / OS
.vscode/
.idea/
*.code-workspace
Thumbs.db
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/