[Unit]
Description=Unlock data
After=local-fs.target
Before=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/unlock

[Install]
WantedBy=multi-user.target
